<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740192889507-5brfijj1g0javi3uaonnfp2hlsj42a51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740192889507-5brfijj1g0javi3uaonnfp2hlsj42a51</string>
	<key>API_KEY</key>
	<string>AIzaSyBfQoygN1Mn8gR4dvA_G77EVXRsBG39RWc</string>
	<key>GCM_SENDER_ID</key>
	<string>740192889507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.mobilestudio.WebServicesEjemplo2</string>
	<key>PROJECT_ID</key>
	<string>ejemplo2-6cecc</string>
	<key>STORAGE_BUCKET</key>
	<string>ejemplo2-6cecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740192889507:ios:d231f099e3695b01c12d16</string>
</dict>
</plist>